<%- include('../header') %>

<div class="capital-amt">
    <h2>Your Current Capital: Rs. <%= user.capital %> </h2>
</div>

<% if(userStock == ''){ %>
  <h1>You haven't invested in any stock!</h1>
  <% }else{ %>

    <div class="invested-stock">
      <div class="top-list">
          <div class="gainer">
            <h2>Your Stock</h2>
           <table id="customers" style="width:100%; margin-left: 30%; margin-top:0">
             <thead>
               <tr>
                 <th>Symbol</th>
                 <th>Quantity</th>
                 <th>Bought Price</th>
                 <th>Current Sell-On Price</th>
                 <th></th>
               </tr>
             </thead>
             <tbody>
               <% userStock.forEach(function(userStock){ %>
                <% if (userStock.price > detail.securityDailyTradeDto.lastTradedPrice * userStock.quantity){ %> 
                 <tr style="background-color: red;">
                  <form action="/stock/<%= userStock._id %>?_method=DELETE" method="POST">
                   <td><a href="/stock/<%= userStock.StockName %>"><%= userStock.StockName %></a></td>
                   <td><%= userStock.quantity %></td>
                   <td>Rs. <%= userStock.price %></td>
                   <td>Rs. <%= detail.securityDailyTradeDto.lastTradedPrice * userStock.quantity %> </td>
                   <td><button type="submit">Sell Now</button></td>
                   </form>
                 </tr>
                 <% }else{ %> 
                  <tr style="background-color: green;">
                    <form action="/stock/<%= userStock._id %>?_method=DELETE" method="POST">
                     <td><a href="/stock/<%= userStock.StockName %>"><%= userStock.StockName %></a></td>
                     <td><%= userStock.quantity %></td>
                     <td>Rs. <%= userStock.price %></td>
                     <td>Rs. <%= detail.securityDailyTradeDto.lastTradedPrice * userStock.quantity %> </td>
                     <td><button type="submit">Sell Now</button></td>
                     </form>
                   </tr>
                  <% }  %> 
               <% }) %> 
             </tbody>
         </table>
         </div>
         </div>
  </div>
  <% } %>   